/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .intro-video{
        display: none;
    }
    .intro-IE{
        display: none;
        width: 100%;
        height: 272rem;
        width: auto;
        background-image: url(../images/IE/IE_homepage.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .nav-links{
        display: none;
    }
    @media all and (min-width: 1201px) {
        .intro-IE{
            display: block;
        }

    }
}
// @supports (-ms-accelerator:true) {
//     /* IE Edge 12+ CSS styles go here */ 
// h1, h2{
//     font-family: 'Gotham-Ultra',  'Josefin Sans', sans-serif;
    
// }
//     .card-content h2{
//         color:red;
//     }

