/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .intro-video,
    .intro-IE,
    #notTooBig .clip,
    #drop-desktop,
    #dropMobileAnim{
        display: none;
    }
    .notTooBig-IE,
    .drop-IE,
    .productDev-IE{
        display: block;
    }
    .intro-IE,
    .notTooBig-IE,
    .drop-IE{
        width: auto;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .intro-IE{
        width: 100%;
        height: 90rem;
        background-image: url(../images/IE/IE_homepage.jpg);
    }
    .notTooBig-IE{
        width: 100%;
        height: 60rem;
        background-image: url(../images/IE/IE_NotTooBig.png);
    }
    //replace with mobil version
    .drop-IE{
        width: 100%;
        height: 60rem;
        background-image: url(../images/IE/IE_CoreValues.png);
    }
    .IE-img img{
        width: 100%;
        height: 100%;
    }
    .IE-img {
        width: 30rem;
        height: 50rem;
        width: auto;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    // .productDev-IE {
        
        
    // }
    .nav-links{
        display: none;
    }

    @media all and (min-width: 768px) {
        .notTooBig-IE{
            height: 70rem;
        }
        //replace with mobil version
        .drop-IE{
            height: 70rem;
            background-image: url(../images/IE/IE_CoreValues.png);
        }
    }
    @media all and (min-width: 1201px) {
        .intro-IE{
            display: block;
        }
        .notTooBig-IE{
            height: 40rem;
        }
        .drop-IE{
            height: 70rem;
        }
    }
}
// @supports (-ms-accelerator:true) {
//     /* IE Edge 12+ CSS styles go here */ 
// h1, h2{
//     font-family: 'Gotham-Ultra',  'Josefin Sans', sans-serif;
    
// }
//     .card-content h2{
//         color:red;
//     }

