.section-value .container,
.col-6{
    padding: 0;
    margin: 0;
}
.section-value {
    display: flex;
    height: 90rem;
}
.values{
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
}
.values img{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}
.core-value h2{
    font-size: 9rem;
    margin-bottom: 5rem;
}
.core-value h6{
    font-size: 2.5rem;
    font-weight: 800;
}
.core-value .col-6{
    margin-bottom: 3rem;
}
@media all and (min-width: 600px) {
    .section-value{
        height: 166rem;
    }
}
/* Tablet */
@media all and (max-width: 1200px) and (min-width: 768px) {
    .values{
        width: 25rem;
        height: 25rem;
    }
    .core-value h2{
        font-size: 12rem;
    }
    .core-value h6{
        font-size: 2.5rem;
    }
    .section-value {
        height: 150rem;
    }
}
@media all and (min-width: 1201px) {
    .section-value{
        height: 100rem;
    }
    .values{
        height: 28rem;
    width: 28rem;
    }
    .core-value h2{
        font-size: 9.5rem;
        padding-bottom: 2rem;
    }
    .core-value .container{
        max-width: 1200px;
    }
}
