/* Mobile */
.section-value {
    display: block;
    height: 90rem;
}
.values{
    width: 40rem;
    margin: 0 auto;
}
.values img{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}
.core-value h2{
    font-size: 12rem;
}
.core-value h6{
    font-size: 3.5rem;
    font-weight: 800;
}
// .drop-IE{
//     display: block;
//     width: auto;
//     background-repeat: no-repeat;
//     background-size: 100%;
//     width: 100%;
//     height: 120rem;
//     background-image: url(../images/IE/IE_CoreValues_M.png);
// }

@media all and (min-width: 600px) {
    .section-value{
        height: 166rem;
    }
}
/* Tablet */
@media all and (max-width: 1200px) and (min-width: 768px) {
    .values{
        width: 20rem;
    }
    .core-value h2{
        font-size: 10rem;
    }
    .core-value h6{
        font-size: 2.5rem;
    }
    .section-value {
        height: 150rem;
    }
}
@media all and (min-width: 1201px) {
    .section-value{
        height: 100rem;
    }
    .values{
        width: 25rem;
    }
    .core-value h2{
        font-size: 8rem;
    }
}
